@import "tailwindcss";

@theme {
  --color-brand-blue: #3E4095;
  --color-brand-gold: #CE8F64;
}

body {
  @apply antialiased text-slate-900 bg-slate-50 dark:bg-slate-900 dark:text-slate-100 transition-colors duration-300;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}